<div class="user-dashboard">
    <h1 class="dashboard-title">Welcome to your Dashboard</h1>
    {{!-- <button id="new-post">Create New Post</button> --}}
    <div class="split-row">
        <div class="half-col">
            <form class="create-new-post">
                <h4 class="new-post-header">Create a New Post</h4>
                <label for="post-title" class="new-post-title">Post Title:</label>
                <br>
                <input type="text" id="new-post-title">
                <br>
                <label for="post-content" class="new-post-content">Post Content:</label>
                <br>
                <textarea type="text" id="new-post-content"></textarea>
                <br>
                <button id="add-post-btn" type="submit" value="comment">Create Post</button>
            </form>
        </div>
        <div class="half-col stats">
            <div class="user-stats">
                <h4 class="user-stats-title">User Stats</h4>
                <p class="display-username">Username: @{{user.username}}</p>
                <p class="member-since">Member since: {{user.created_at}}</p>
                <p class="post-count">Total posts: {{user_posts.length}}</p>
                <button id="add-post-btn" type="submit" value="comment">Create New Post</button>
                <img class="treasure-gif" src="/../../assets/graphics/tech-blog-treasure.gif" alt="Pixelated pile of gold coins with sparkles">
            </div>
        </div>
    </div>

    <div class="user-posts-container">
        <h4 class="user-posts-header">Your Blog Posts</h4>
        {{!-- <h1>Heading One</h1>
        <h2>Heading Two</h2>
        <h3>Heading Three</h3>
        <h4>Heading Four</h4>
        <h5>Heading Five</h5>
        <h6>Heading Six</h6> --}}
        {{#each user_posts as |post|}}
        <div class="user-post">
            <h4 class="user-post-title"><a href="/post/{{post.id}}">Sample Title{{post.title}}</a></h4>
            <p class="user-post-date">Posted on: {{post.created_at}}</p>
            <a href="/dashboard/edit" class="btn edit-post">Edit this Post</a>
        </div>
        {{/each}}
    </div>
</div>