<div class="single-blog-post">
    <div class="blog-post-header">
        <h3 class="blog-post-title">{{post.title}}</h3>
    </div>
    <div class="blog-post-body">
        <p class="blog-post-content">{{post.content}}</p>
    </div>
    <div class="blog-post-details">
        <p class="blog-post-user">Posted by @{{post.user_id}} on {{post.created_at}}</p>
    </div>
</div>

<div class="blog-post-comments">
    <h4 class="posted-comments-title">Comments About this Post:</h4>
    <div class="all-comments">
        {{#each post as |post|}}
        <div class="comment-card">
            <p class="comment-text">{{post.comment.comment}}</p>
            <div class="comment-details">
                <p class="comment-user">Posted by: @{{post.comment.user_id}}</p>
                <p class="comment-date">Posted on:{{post.comment.created_at}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    <form class="comment-form">
        <h4>Leave a Comment:</h4>
        <div class="add-comment">
            <textarea name="new-comment" id="new-comment" placeholder="Start a discussion..."></textarea>
            <button id="add-new-comment" type="submit" value="comment">Add Comment</button>
        </div>
    </form>
</div>

<script src="/js/comment.js"></script>